#strategy-todo-content, #strategy-resource-content, 
#docs-resume-tool-content, #docs-resume-tips-content, #docs-resume-resource-content
{
  scroll-margin-top: 5rem;
}

.content-position {
  margin-top: -3.10rem;
}

.clear {
  margin-bottom: 10rem;
}

/* BELOW TO BE REMOVE POST TRANSITIONS */

.content-adjustment {
  margin-bottom: 10rem;
}

.right-content-col {
  border-left: #e6e6e6 0.15rem solid;
  height: auto;
  min-height: 100vh;
}

.left-content-col {
  border-right: #e6e6e6 0.15rem solid;
  height: auto;
  min-height: 100vh;
}

/* ABOVE TO BE REMOVED POST TRANSITIONS */

#vancouver, #toronto, #victoria, #calgary, #montreal{
  padding: 0.3125rem 0.3125rem 0.3125rem 0.3125rem;
  background-color: #F5F5F5;
}

#prep, #culturefit, #techinterview, #followup, #vancouver, 
#toronto, #victoria, #calgary, #montreal {
  display: none;
}

#resume, #portfolio, #coverletter, #jobboard, #prep, #culturefit, #techinterview, #followup{
  /* background-color: #f6fbfc; */
  border-left: 0.125rem solid CadetBlue;
  padding-left: 1.25rem;
  margin-left: 1.25rem;
  margin-bottom: 1.25rem;
}

.resume {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.networkingbuttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.citybutton {
  width: 8.75rem;
  height: 3.75rem;
  margin: 0.5rem;
  text-transform: uppercase;
}

.pointer {
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
}