.content-position {
  margin-top: -3.10rem;
}

.clear {
  margin-bottom: 10rem;
}

.pointer {
  cursor: pointer;
}

#strategy-todo-content, #strategy-resource-content, 
#docs-resume-tool-content, #docs-resume-tips-content, #docs-resume-resource-content,
#docs-cyber-portfolio-content, #docs-data-portfolio-content, #docs-web-portfolio-content,
#docs-cover-tips-content, #docs-cover-sample-content,
#job-board-tips-content, #job-board-alert-content, 
#github-tips-content, #github-resource-content, #github-bp-content,
#interview-prep-content, #interview-culture-content, #interview-followup-content,
#network-tips-content, #network-jobfair-content, #network-linkedin-content,
#tech-web-content, #tech-data-content, #tech-cyber-content {
  scroll-margin-top: 5rem;
}

@media only screen and (max-width: 1000px) {
}